.search-form {
  background-color: #fff;
  padding: 24px 24px 8px 24px;
  .ant-row.ant-form-item {
    margin-bottom: 16px; // 时间选择
    .ant-calendar-range-picker-input {
      max-width: 120px;
    }
  }
}